body {
 margin: auto;
 max-width: 1024px;
}

.grid {
 display: grid;
 grid-template-columns: 1fr 2fr;
}

.col1 {
   padding-left: 32px;
   padding-top: 32px;
   padding-right: 32px;
}

.col2 {
 padding-left: 16px;
 padding-right: 32px;
 padding-top: 80px;
}

.About {
 grid-column: span 2;
 margin-top: 64px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;

}

.Process {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
}

.Work1 {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
}

.Work2 {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
}

.Work3 {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
}

.Work4 {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 32px;
 margin-right: 32px;
}

.last {
 grid-column: span 2;
 margin-top: 32px;
 margin-bottom: 64px;
 margin-left: 32px;
 margin-right: 32px;
 color: #219653;
}

li {
 margin-left: 32px;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 200;
 font-size: 16px;
 line-height: 24px;
}

img {
 margin: auto;
 height: 280px;
 width: 260px;
 padding-top: 32px;
 padding-bottom: 0px;
 padding-left: 12px;
 padding-right: 12px;
 border-radius: 4px;
 background-color: #ECF4F8; 
 /* box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.25); */
}

.actions {
 padding-top: 40px;
 padding-bottom: 32px;
}

h1 {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 900;
 font-size: 60px;
 line-height: 68px;
}

h2 {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 38px;
}

h3 {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 900;
 font-size: 32px;
 line-height: 38px;
}

h4 {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
}

p {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 200;
 font-size: 16px;
 line-height: 24px;;
}

.btn {
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 11px;
 padding-bottom: 8px;
 align-content: center;
 background: #2B65BC;
 border-radius: 4px;
 border: none;
 cursor: pointer;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 0px;
 text-decoration: none;
 color: white;
}

.fa-brands {
 padding-right: 8px;
 font-size: 16px;
  line-height: 0px;
 align-content: center;
}

.btn:hover {
 background-color: #114A9E;
}

.link {
 padding-left: 24px;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 0px;
 color: #2B65BC;
 padding-left: 16px;
 cursor: pointer;
}

@media screen and (max-width: 768px) {
 .grid {
  display: block;
  ;
 }

img {
 display: none;
 margin: none;
 /* margin-left: auto;
 margin-right: auto */
}

 .col1 {
  background-color: #ECF4F8;
 }

 .col2 {
  padding-top: 0px;
  padding-left: 32px;
  padding-bottom: 12px;
  min-width: 280px;
  background-color: #ECF4F8;
 }

  h1 {
   margin: auto;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 50px;
   line-height: 58px;
  }

  h2 {
 margin: auto;
 font-family: roboto, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 38px;
}

.About {
 margin-top: 32px;
}

.btn {
 padding-top:8px;
}
}