body {
   margin: auto;
   max-width: 768px;
   width: 100%;
   width: 100vw;
}

.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
}

.img src {
   padding: 0%;
}

.col1 {
   padding-left: 32px;
   padding-right: 32px;
   padding-top: 32px;
   width: 260px;
   margin: auto;
   display: flex;
   justify-content: center;
}

.col2 {
   padding-left: 32px;
   padding-right: 32px;
   padding-top: 32px;
   padding-bottom: 32px;
   align-self: center;
}

.About {
   grid-column: span 2;
   padding-top: 48px;
   padding-bottom: 24px;
   margin-left: 32px;
   margin-right: 32px;

}

.Process {
   grid-column: span 2;
   padding-top: 48px;
   padding-bottom: 24px;
   margin-left: 32px;
   margin-right: 32px;
}

.Work1 {
   grid-column: span 2;
   padding-top: 48px;
   padding-bottom: 16px;
   margin-left: 32px;
   margin-right: 32px;
}

.Work2 {
   grid-column: span 2;
   padding-top: 24px;
   padding-bottom: 16px;
   margin-left: 32px;
   margin-right: 32px;
}

.Work3 {
   grid-column: span 2;
   padding-top: 24px;
   padding-bottom: 16px;
   margin-left: 32px;
   margin-right: 32px;
}

.Work4 {
   grid-column: span 2;
   padding-top: 24px;
   padding-bottom: 24px;
   margin-left: 32px;
   margin-right: 32px;
}

.last {
   grid-column: span 2;
   padding-top: 32px;
   padding-bottom: 64px;
   margin-left: 32px;
   margin-right: 32px;
   color: #031636;
}

li {
   margin: auto;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #031636;
}

img {
   margin: auto;
   height: 280px;
   width: 260px;
   padding-top: 32px;
   padding-bottom: 0px;
   padding-left: 12px;
   padding-right: 12px;
   background-color: #ECF4F8;
   border-radius: 4px;
}

.actions {
   padding-top: 32px;
}

h1 {
   margin: auto;
   font-family: roboto, sans-serif;
   font-weight: 900;
   font-size: 50px;
   line-height: 58px;
   color: #031636;
}

h2 {
   margin: auto;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 24px;
   line-height: 28px;
   color: #031636;
}

h3 {
   margin: auto;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   color: #031636;
} 


p {
   margin: auto;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #031636;
}

.primBtn {
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 8px;
   padding-bottom: 8px;
   align-content: center;
   background: #2B65BC;
   border-radius: 4px;
   border: none;
   cursor: pointer;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 0px;
   text-decoration: none;
   color: white;
}

.primBtn:hover {
   background-color: #114A9E;
   text-decoration: underline;
}

.secBtn {
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 8px;
   padding-bottom: 8px;
   align-content: center;
   background: transparent;
   border-radius: 4px;
   border: 1px solid #2B65BC;
   cursor: pointer;
   font-family: roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 0px;
   text-decoration: none;
   color: #2B65BC;
   margin-left: 8px;
}

.secBtn:hover {
   color: #114A9E;
   text-decoration: underline;
}

.fa-arrow-up-right-from-square {
   padding-left: 8px;
}

.fa-brands {
   padding-right: 8px;
   font-size: 16px;
   line-height: 0px;
   align-content: center;
}

.link {
   color: #2B65BC;
   text-decoration: underline;
}

.link:hover {
   color: #114A9E;
   cursor: pointer;
}

